.flashy{
  color: red;
  font-style: italic;
}
.best{
  font-weight: bold;
  font-style: italic;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}
title {
  text-align: center;
}
li {
  text-align: center;
}
img src {
  text-align: center;
}
ul {
  text-align: center;
}
